/* CSS STYLESHEET FOR SECONDARY PAGES */

/* TYPE SELECTORS */

body {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-left:20px;
  margin-right:20px;
}

p {
  text-align: left;
}

h2 {
  /* padding for readability, padding had to be removed for vk headers, see line 40.*/
  margin-top: 50px;
  margin-bottom: 0px;
}

  /* formatting footer */
footer h3 {
  text-align: center;
  margin-top: 75px;
}

footer p {
  text-align: center;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ID SELECTORS */

h2#vk {
  /* removing readability margin for header */
  margin-top: 20px;
}

div#twotonebody {
  /* this divider allows the body of the page to be a light yellow */
  background-color: #e3dac9;
  padding: 5px;
}

/* flex code for two column layout*/
div#opener {
  display: flex;
  flex-direction: row;
}

div#what {
  margin-right: 1em;
  flex-basis: 50%;
  /* two columns are very simple, just add margins and a basis*/
}

div#why {
  margin-left: 1em;
  flex-basis: 50%;
  /* two columns are very simple, just add margins and a basis*/
}

/* ID CSS FOR ESTABLISHING DIFFERENT BACKGROUND IMAGES */
body#homepage {
background-image: url(../img/banner/mainpage.png);
}
body#omerta {
background-image: url(../img/banner/banneromerta.png);
}
body#deviloof {
background-image: url(../img/banner/bannerdeviloof.png);
}
body#mme {
background-image: url(../img/banner/bannermme.png);
}
body#hts{
background-image: url(../img/banner/bannerhts.png);
}

/* navbar id css, formatting entire object */
#navbar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/* CLASS SELECTORS */

/* navbar class css, formatting options */
.navbarcontent {
  float: left;
}

.navbarcontent a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #141414;
}

/* 2 column css */
.column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* art section css (now with flex!) */

.art {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

div.art img {
  max-width: 100%;
  height: auto;
  flex: 0 1 auto;
  /*these values allow the images to shrink but not grow, which allows me to incoporate multiple images on one line!!!!*/
  border: 1em ridge black;
}

.caption {
  text-align: center;
  font-size: 75%;
}

/* logo section (similar to art) */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  /*drop shadow code for usability*/
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);

}

/* RELATIONAL SELECTORS */