/* CSS STYLESHEET FOR SECONDARY PAGES */

/* TYPE SELECTORS */
body {
  text-align: left;
  background-color: lightgoldenrodyellow;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: left;
}

h1 {
  text-align: center;
}

/* ID SELECTORS */

/* flex code for module 8, may decide not to keep */
div#opener {
  display: flex;
  flex-direction: row;
}

div#what {
margin-right: 1em;
flex-basis: 50%;
/* two columns are very simple, just add margins and a basis*/
}

div#why {
margin-left: 1em;
flex-basis: 50%;
/* two columns are very simple, just add margins and a basis*/
}

/* navbar id css, formatting entire object */
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

@media (max-width: 470px) {

  /* I found that when the screen gets REALLY small, a black and white navbar was the most readable */
  #navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

}


/* CLASS SELECTORS */

/* navbar class css, formatting options */
.navbarcontent {
  float: left;
}

.navbarcontent a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .navbarcontent a {
    color: white;
    font-size: 75%;
  }
}

@media screen and (max-width: 470px) {
  .navbarcontent a {
    color: black;
    font-size: 50%;
  }
}

/* 2 column css */
.column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* art section css (now with flex!) */

.art {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

div.art img {
  max-width: 100%;
  height: auto;
  flex: 0 1 auto; /*these values allow the images to shrink but not grow, which allows me to incoporate multiple images on one line!!!!*/
  border: 1em ridge black;
}

.caption {
  text-align: center;
  font-size: 75%;
}

/* RELATIONAL SELECTORS */