/* TYPE SELECTORS */
  body { 
    text-align: left; 
    background: linear-gradient(to right, yellow, cyan);
    font-family:'Times New Roman', Times, serif;
  } 

  h1 {
    text-align: left;
    color: yellow;
  }

  p {
    color: #d8d530;
  }

/* ID SELECTORS */
#tira {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: auto;
    border: 1em ridge black;
}
/* CLASS SELECTORS */
.column-1 {
float: left;
color: orange;
width: 450px;
border: thick dotted lime;
}

.column-2 {
float: right;
color: darkcyan;
width: 430px;
border: thick dotted lime;
}

/* RELATIONAL SELECTORS */
